/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom{
  /* default button */
  
  &:hover {
    transform: scale(1.25);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-gray;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

.theme-switch-wrapper {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.theme-switch-wrapper em {
  margin-left: 0.5rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #fff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #333;
  bottom: 4px;
  content: "\f186"; /* Moon icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  text-align: center;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 4px;
  transition: .4s;
}

input:checked + .slider:before {
  transform: translateX(26px);
  content: "\f185"; /* Sun icon */
}


input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  content: "\f185 \f186";
  color: #fff;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  line-height: 1;
  text-align: center;
  width: 24px;
}

